<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- LIBS -->
        <link
            rel="stylesheet"
            href="assets/lib/github-markdown-css/style.css" />
        <link rel="stylesheet" href="assets/lib/highlight.js/github.min.css" />
        <script src="assets/lib/highlight.js/highlight.min.js"></script>
        <!-- /LIBS -->
        <script src="assets/js/main.js"></script>
        <title>@@title</title>
    </head>
    <body>
        <!-- <header>
            <img src="assets/logo.jpg" alt="Logo IFRS">
            <h1>@@title</h1>
            <h2>@@name</h2>
            <h3>@@date</h3>
        </header> -->
        <main class="markdown-body">@@content</main>
    </body>
</html>
