body > header {
    font-family:
        'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 30px;
}

body > header img {
    height: 80px;
    width: auto;
}

body > header div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

body > header div > * {
    margin: 0;
}

body > header h1 {
    font-size: 1.1rem;
}

body > header h2 {
    font-size: 1rem;
    font-weight: lighter;
    font-style: italic;
}

body > header h3 {
    font-size: 0.9rem;
    font-weight: lighter;
    font-family: Consolas, 'Courier New', Courier, monospace;
}

@media print {
    .page-break {
        page-break-after: always;
    }
}
